<h1>Listing points</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Timestamp</th>
      <th>Tracksegment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.id %></td>
        <td><%= point.lat %></td>
        <td><%= point.lon %></td>
        <td><%= point.recorded_at %></td>
        <td><%= point.tracksegment.id %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
