<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @point.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @point.lon %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @point.recorded_at %>
</p>

<p>
  <strong>Tracksegment:</strong>
  <%= @point.tracksegment %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
