<%- model_class = Track -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @track.name %></dd>



<% if @track.tracksegments.empty? %>
</dl>
<% else %>
  <dt><strong><%= model_class.human_attribute_name(:tracksegments) %>:</strong></dt>
  <dd>
    <% tracksegments = @track.tracksegments %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Tracksegment.human_attribute_name(:id) %></th>
          <th><%= Tracksegment.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% tracksegments.each do |trackseg| %>
          <tr>
            <td><%= link_to trackseg.id, tracksegment_path(trackseg) %></td>          
            <td><%= trackseg.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_tracksegment_path(trackseg), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          tracksegment_path(trackseg),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
  </dl>
<% end %>
<br>


