<%- model_class = DistanceMatrix -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:trackseg) %>:</strong></dt>
    <dd><%= link_to @distance_matrix.tracksegment.id, tracksegment_path(@distance_matrix.tracksegment) %></dd>
  </dt>
<% if @distance_matrix.entries.empty? %>
</dl>
<% else %>
  <dt><strong><%= model_class.human_attribute_name(:entries) %>:</strong></dt>
  <dd>
    <% entries = @distance_matrix.entries %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th>CPDur</th>
          <th>CPDist</th>          
          <th>GDur</th>
          <th>GDist</th>         

              
        </tr>
      </thead>
      <tbody>
        <% entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.id, distance_matrix_entry_path(entry) %></td>
            <td><%= entry.cp_duration_in_seconds %></td>
            <td><%= entry.cp_distance_in_km %></td>                
            <td><%= entry.duration_in_seconds %></td>
            <td><%= entry.distance_in_km %></td>                
            
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
  </dl>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              distance_matrices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_distance_matrix_path(@distance_matrix), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              distance_matrix_path(@distance_matrix),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
