<%= form_for @distance_matrix_entry, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :duration_in_seconds, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :duration_in_seconds, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :distance_in_km, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distance_in_km, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :json_response, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :json_response, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :polyline, :class => 'control-lable' %>
    <div class="controls">
      <%= f.text_field :polyline, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :distance_matrix_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distance_matrix_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :origin_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :origin_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dest_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dest_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                distance_matrix_entries_path, :class => 'btn' %>
  </div>
<% end %>
