<%- model_class = DistanceMatrixEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Google Duration</th>
      <th>Google Distance</th>
      <th>CP Duration</th>
      <th>CP Distance</th>      
      <th><%= model_class.human_attribute_name(:distance_matrix_id) %></th>
      <th><%= model_class.human_attribute_name(:origin_id) %></th>
      <th><%= model_class.human_attribute_name(:dest_id) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @distance_matrix_entries.each do |distance_matrix_entry| %>
      <tr onclick="alert("hi")">
        <td><%= link_to distance_matrix_entry.id, distance_matrix_entry_path(distance_matrix_entry) %></td>
        <td><%= distance_matrix_entry.duration_in_seconds %> s</td>
        <td><%= distance_matrix_entry.distance_in_km %> km</td>
        <td><%= distance_matrix_entry.cp_duration_in_seconds %> s</td>
        <td><%= distance_matrix_entry.cp_distance_in_km %> km</td>        
        <td><%= distance_matrix_entry.distance_matrix_id %></td>
        <td><%= distance_matrix_entry.origin_id %></td>
        <td><%= distance_matrix_entry.dest_id %></td>        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_distance_matrix_entry_path(distance_matrix_entry), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      distance_matrix_entry_path(distance_matrix_entry),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_distance_matrix_entry_path,
            :class => 'btn btn-primary' %>
