<%- model_class = DistanceMatrixEntry -%>

<table id="data-table" class="table table-hover table-condensed">
            <thead>
              <tr>              
                <th>Id</th>
                <th>CPDur</th>
                <th>CPDist</th>      
                <th>GDur</th>
                <th>GDist</th>
                <th>AvgSpeed</th>
                <th>%Saved</th>
              </tr>
            </thead>
            <tbody>
              
                <% entry = @distance_matrix_entry %>                 
                  <%= content_tag "tr", class: 'entry', data: {id: entry.id, origin: entry.origin_id, dest: entry.dest_id, trkseg: entry.distance_matrix.tracksegment.id, tag: entry.tag} do %>
                   <td><%= entry.distance_matrix.tracksegment.id %></td>
                    <td><%= (entry.cp_duration_in_seconds/60).round(0) %>m<%= (entry.cp_duration_in_seconds%60).round(0) %>s</td>
                    <td><%= (entry.cp_distance_in_km/1000).round(1) %>km</td>                      
                    <td><%= (entry.duration_in_seconds/60).round(0) %>m<%= (entry.duration_in_seconds%60).round(0) %> s</td>
                    <td><%= (entry.distance_in_km/1000).round(1) %>km</td> 
                    <td>
                      <% time = (entry.cp_duration_in_seconds)*0.000277778 %> 
                      <% distance = (entry.cp_distance_in_km/1000.0) %>  
                    <%=  (distance / time).round(0) %>kmph </td> 
                    <td>
                   
                      <%= ( (1.0 - (entry.cp_duration_in_seconds/entry.duration_in_seconds)) * 100.0).round(0) %>% </td> 
                    
                  <% end %>
                
              
            </tbody>
          </table>

<div id="map-canvas" style="height:600px"></div>


<%= javascript_tag 'var origin_id =' + @distance_matrix_entry.origin_id.to_s %>
<%= javascript_tag 'var dest_id =' + @distance_matrix_entry.dest_id.to_s %>

  <%= javascript_tag 'var gpolyline = '+ @distance_matrix_entry.polyline.to_s %>
  <%= javascript_tag 'var origin =' + @distance_matrix_entry.origin.to_json %>
  <%= javascript_tag 'var dest ='+ @distance_matrix_entry.dest.to_json %>
<script >
  
    initializeMap();     
   
    points = loadPoints(origin_id, dest_id);
    drawPolyline(points);
    if (gpolyline != null) {
      console.log("polylines!");
      loadTrackPolyline(gpolyline, "#0000FF");
    }
         
  
 
</script>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:origin_id) %>:</strong></dt>
  <dd>
    <% @origin = @distance_matrix_entry.origin %>
    <table class="table table-striped">
      <th>Id</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Recorded At</th>
      <tr>
        <td><%= @origin.id %></td>
        <td><%= @origin.lat %></td>          
        <td><%= @origin.lon %></td>
        <td><%= @origin.recorded_at %></td>
      </tr>
    </table>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:dest_id) %>:</strong></dt>
  <dd>
    <% @dest = @distance_matrix_entry.dest %>
    <table class="table table-striped">
      <th>Id</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Recorded At</th>
      <tr>
        <td><%= @dest.id %></td>
        <td><%= @dest.lat %></td>            
        <td><%= @dest.lon %></td>            
        <td><%= @dest.recorded_at %></td>
      </tr>
    </table>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:distance_matrix_id) %>:</strong></dt>
  <dd>
    <%= link_to @distance_matrix_entry.distance_matrix_id, distance_matrix_path(@distance_matrix_entry.distance_matrix_id) %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:duration_in_seconds) %>:</strong></dt>
  <dd>
    <% if @distance_matrix_entry.duration_in_seconds.nil? %>
      nil
    <% else %>
      <%= @distance_matrix_entry.duration_in_seconds %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:distance_in_km) %>:</strong></dt>
  <dd>
    <% if @distance_matrix_entry.distance_in_km.nil? %>
      nil
    <% else %>
      <%= @distance_matrix_entry.distance_in_km %>
    <% end %>    
  </dd>  
<dt><strong><%= model_class.human_attribute_name(:cp_duration_in_seconds) %>:</strong></dt>
  <dd>
    <% if @distance_matrix_entry.cp_duration_in_seconds.nil? %>
      nil
    <% else %>
      <%= @distance_matrix_entry.cp_duration_in_seconds %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:cp_distance_in_km) %>:</strong></dt>
  <dd>
    <% if @distance_matrix_entry.cp_distance_in_km.nil? %>
      nil
    <% else %>
      <%= @distance_matrix_entry.cp_distance_in_km %>
    <% end %>    
  </dd>    
  <dt><strong><%= model_class.human_attribute_name(:tag) %>:</strong></dt>
  <dd>
    <% if @distance_matrix_entry.tag.nil? %>
      nil
    <% else %>
      <%= @distance_matrix_entry.tag %>
    <% end %>    
  </dd> 
</dl>



