<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :pending, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pending, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :processed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :processed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :worker_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :worker_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :completed_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :completed_at, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :distance_matrix_entry_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distance_matrix_entry_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
