<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pending) %>:</strong></dt>
  <dd><%= @job.pending %></dd>
  <dt><strong><%= model_class.human_attribute_name(:processed) %>:</strong></dt>
  <dd><%= @job.processed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:worker_id) %>:</strong></dt>
  <dd><%= @job.worker_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:completed_at) %>:</strong></dt>
  <dd><%= @job.completed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:distance_matrix_entry_id) %>:</strong></dt>
  <dd><%= @job.distance_matrix_entry_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              jobs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_path(@job), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
