<%= form_for @tracksegment, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tracksegments_path, :class => 'btn' %>
  </div>
<% end %>
