<%- model_class = Tracksegment -%>
<%= link_to "View DistanceMatrix", distance_matrix_path(@tracksegment.distance_matrices.first) %>
<div id="map-canvas"></div>

 



<%= javascript_tag 'var origin = '+ @tracksegment.points.first.id.to_s %>
<%= javascript_tag 'var dest = '+ @tracksegment.points.last.id.to_s %>
<% if @entry.nil? %>
<%= javascript_tag 'var polyline = null' %>
<% else %>
<%= javascript_tag 'var polyline = '+ @entry.polyline.to_s %>
<% end %>

<script type="text/javascript">
  function initialize() {
     initializeMap();
     points = loadPoints(origin, dest);
     drawPolyline(points); 
     if(polyline != null) {
      loadTrackPolyline(polyline, "#0000FF");  
    }
  }  
  initialize();
</script>
