 <div class="container">
   <div class="row-fluid">    
    <div class="span5">   
      <div class="row-fluid">  
	      <div id="table-div1" class="table-div">
          <table id="data-table" class="table table-hover table-condensed">
            <thead>
              <tr>              
                <th>Id</th>
                <th>CPDur</th>
                <th>CPDist</th>      
                <th>Dur</th>
                <th>Dist</th>
                <th>AvgSpeed</th>
                <th>%Saved</th>
              </tr>
            </thead>
            <tbody>
              <% if @entries.nil? %>
              <% else %>
                <% @entries.each do |entry| %>                 
                  <%= content_tag "tr", class: 'entry', data: {id: entry.id, origin: entry.origin_id, dest: entry.dest_id, trkseg: entry.distance_matrix.tracksegment.id, tag: entry.tag} do %>
                   <td><%= entry.distance_matrix.tracksegment.id %></td>
                    <td><%= (entry.cp_duration_in_seconds/60).round(0) %>m<%= (entry.cp_duration_in_seconds%60).round(0) %>s</td>
                    <td><%= (entry.cp_distance_in_km/1000).round(1) %>km</td>                      
                    <td><%= (entry.duration_in_seconds/60).round(0) %>m<%= (entry.duration_in_seconds%60).round(0) %> s</td>
                    <td><%= (entry.distance_in_km/1000).round(1) %>km</td> 
                    <td>
                      <% time = (entry.cp_duration_in_seconds)*0.000277778 %> 
                      <% distance = (entry.cp_distance_in_km/1000.0) %>  
                    <%=  (distance / time).round(0) %>kmph </td> 
                    <td>
                   
                      <%= ( (1.0 - (entry.cp_duration_in_seconds/entry.duration_in_seconds)) * 100.0).round(0) %>% </td> 
                    
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>  
        <div id="filter-div">

        <%= form_tag("/explore", method: "get") do %>
            <table id="data-table" class="table table-condensed">
              <tr>
                <td>
                  Filter By: 
                </td>
                <td colspan="3">
                  <%= select_tag(:filter, options_for_select([['Duration', 1],['Distance', 2], ['Tagged', 3]]), :onchange => 'onchange()') %>
                </td>
              <tr>
              <tr>
                <td>
                  Order Result By: 
                </td>
                <td colspan="3">
                  <%= select_tag(:order, options_for_select([['Duration', 1],['Distance', 2], ['Difference', 3], ['%', 4], ['Speed', 5]]), :onchange => 'onchange()') %>
                </td>
              <tr>
                <td>
                 Min Difference:
                </td>
                <td>
                  <%= text_field_tag :diff, 0, class: "filter-field" %>
                </td>       
                <td>
                  Min Value:
                </td>
                <td>
                  <%= text_field_tag :min, 0, class: "filter-field" %>
                </td>                               
              </tr>            
              <tr>
                <td>
                  Items To Load:
                </td> 
                <td>
                  <%= text_field_tag :amnt, 50, class: "filter-field" %>
                </td>
                <td></td>                
                <td></td>
                <td></td>                
                <td></td>
              </tr>
              <tr>
                <td>          
                  <%= submit_tag "Filter", class: "btn btn-default" %>
                </td>
              </tr>
            </table>
          <% end %>                       
        </div>       
      </div>                                               
    </div> 
    <div class="span7">        
      <div id="map-canvas"/>    
    </div>
  </div>
</div>




  


<script>
function initialize() {
  $("body").css("overflow", "hidden");
  initializeMap();  

  $(window).resize(function () {
    
    var h = $(window).height(), offsetTop = 120; // Calculate the top offset
    var filter_div_height = $('#filter-div').height();
            
    $('#table-div1').css('height', (h - offsetTop - filter_div_height));                              
  }).resize()

  $().ready(function() {
    var $scrollingDiv = $("#filter-div");
 
    $(window).scroll(function(){      
      $scrollingDiv
        .stop()
        .animate({"marginTop": ($(window).scrollTop() + 1) + "px"}, "slow" );      
    });
  });


  function tag(entry_id) {
    var form = document.createElement('form');
    form.setAttribute('method', 'post');
    form.setAttribute('action', '/distance_matrix_entries/'+entry_id+'/tag=true');
    form.style.display = 'hidden';
    document.body.appendChild(form)
    form.submit();
  }

  function untag() {
    var form = document.createElement('form');
    form.setAttribute('method', 'post');
    form.setAttribute('action', '/distance_matrix_entries/'+entry_id+'/tag=false');
    form.style.display = 'hidden';
    document.body.appendChild(form)
    form.submit();
  }

 $('tr.entry').each(function(i, tr) {
    tr.onclick = function() {              
      
      var entry_id = tr.dataset.id; 
      if( $(this).hasClass('success')   ) {
      } else {
        $('tr.success').each(function(i,tr) {        
          $(this).toggleClass('success');
          $('tr.extra').remove();
        });

        $(this).toggleClass('success');

        tag_button = "";
        if(tr.dataset.tag == 'false') {
          tag_button = "<form action='/distance_matrix_entries/"+ entry_id +"' method='POST'><input type='hidden' name='tag' value='true'><input type='submit' value='Tag' class='btn btn-default'></form>";
        } else {
          tag_button = "<form action='/distance_matrix_entries/"+ entry_id +"' method='POST'><input type='hidden' name='tag' value='false'><input type='submit' value='Untag' class='btn btn-default'></form>";
        }

        $(this).after('<tr class="extra success"><td colspan="6"><a href="/tracksegments/'+tr.dataset.trkseg +'"><button class="btn btn-default">View Track</button></a><a href="/distance_matrix_entries/'+entry_id+'"><button class="btn btn-default">View Entry</button></a></td><td>'+ tag_button +'</td></tr>');
      }
      
      var entry_id = tr.dataset.id; 
      var pline;
      $.getJson = function(url, data) {
      	return $.ajax({
      			contentType: "application/json",
      			url: url,
      			data: data || {},
      			type: "GET",
      			async: false,
      			dataType: "json"
      		});
      	}

    	$.getJson("/distance_matrix_entries/"+ entry_id +"/polyline").done(
    		function(data) {
    			console.log(data);
    			pline = data;
    		}
    	);


	// apparently polyline stored in the dataset is messed up, so just do ajax call
              

      origin = tr.dataset.origin;
      dest = tr.dataset.dest;
      points = loadPoints(origin, dest);         
      drawPolyline(points);      
      loadTrackPolyline(pline, "#0000FF");
    };
  });
};

        
 initialize()
</script>




