<div class="container">
<center><button class="btn btn-default"onclick="load()"> Build </button> </center>    
   <div class="row-fluid">              
      <div id="map-canvas"/>  
  </div>
</div>


<script>   
  
 

  initializeMap();

  $(window).resize(function () {
    
    var h = $(window).height(), offsetTop = 150; // Calculate the top offset
    console.log("height: " + h);
    $('#map-canvas').css('height', (h - offsetTop));                                  
  }).resize()


  function load() {
  

  <% @tracksegments.each do |trkseg| %>    
  
    buildHeatmap(loadPoints(<%= trkseg.points.first.id %>, <%= trkseg.points.last.id %>)); 
  <% end %>
 
    };

  
  
</script>
