<div class="container">
   <div class="row-fluid">    
    <div class="span3">
      <table class="table table-bordered table-striped"> 
        <tr> 
          <td>          
            <%= form_tag("/", method: "get") do %>
              <table>
                <tr>
                  <td> 
                    <img height="25px" width="25px" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">                            
                  </td>
                  <td>
                    <%= label_tag(:q, "Origin:") %> 
                  </td>
                </tr>
              </table>
              <%= text_field_tag(:origin) %>

              <table>
                <tr>
                  <td> 
                    <img height="25px" width="25px" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">                            
                  </td>
                  <td>
                    <%= label_tag(:q, "Destination:") %> 
                  </td>
                </tr>
              </table>
              <%= text_field_tag(:dest) %>
               <%= submit_tag "Search", class: "btn btn-default" %>
            <% end %>
          </td>
        </tr>
      </table>

      <% if @result.nil? %>
      <% else %>
         <%= content_tag "div", data: {id: @result.id, origin: @result.origin_id, dest: @result.dest_id, trkseg: @result.distance_matrix.tracksegment.id, tag: @result.tag} do %>
          <table id="data-table" class="table table-bordered">                       
            <tr>
              <th>
                Origin
              </th>
              <td colspan='2'>
                <%= @result.origin.lat %>, <%= @result.origin.lon %> 
              </td>              
            </tr>
            <tr>
              <td colspan='3'>
                <%= @start %>
              </td>
            </tr>
            <tr>
              <th>
                Dest
              </th>
              <td colspan='2'>
                <%= @result.dest.lat %>, <%= @result.dest.lon %> 
              </td>              
            </tr>
             <tr>
              <td colspan='3'>
                <%= @end %>
              </td>
            </tr>
            <tr>
              <th>
                Distance
              </th>
              <td>
                <font color="red"><%= (@result.cp_duration_in_seconds/60).round(0) %> m <%= (@result.cp_duration_in_seconds%60).round(0) %> s </font>
              </td>
              <td>
                <font color="blue"><%= (@result.duration_in_seconds/60).round(0) %> m <%= (@result.duration_in_seconds%60).round(0) %> s </font>
              </td>
            </tr>
            <tr>
              <th>Duration</th>
              <td>
               <font color="red"> <%= (@result.cp_distance_in_km/1000).round(1) %> km</font>
              </td>
              <td>
                <font color="blue"><%= (@result.distance_in_km/1000).round(1) %> km</font>
              </td>
            </tr>
            <tr>
              <th>Time Savings:  </th>
              <td>
                <%= (@result.duration_in_seconds/60 - @result.cp_duration_in_seconds/60).round(0) %>m  <%= (@result.duration_in_seconds%60 - @result.cp_duration_in_seconds%60).round(0) %>s
              </td>
              <td>
                <%= ( (1.0 - (@result.cp_duration_in_seconds/@result.duration_in_seconds)) * 100.0).round(0) %>%
              </td>
              
            </tr>

          </table>


       <table class="table table-bordered"> 
        <tr> 
          <th>Key</th>
        </tr>
        <tr class="info">
          <td>          
           Google == <font color="blue">Blue</font>
           </td>
        </tr>
        <tr class="error">
          <td>          
          CrowdPath == <font color="red">Red</font>
           </td>
        </tr>
      </table>
         <% end %>
      <% end %>


    </div>
    <div class="span9">     
      <div id="map-canvas"/>
    </div>
  </div>
</div>

<% if @result.nil? %>
  <script >  
    initializeMap();     
  </script>
<% else %>
  <%= javascript_tag 'var origin_id =' + @result.origin_id.to_s %>
  <%= javascript_tag 'var dest_id =' + @result.dest_id.to_s %>
  <%= javascript_tag 'var gpolyline = '+ @result.polyline.to_s %>
  <%= javascript_tag 'var origin =' + @result.origin.to_json %>
  <%= javascript_tag 'var dest ='+ @result.dest.to_json %>

  <script >
  
  initializeMap();     
  points = loadPoints(origin_id, dest_id);
  drawPolyline(points);
  if (gpolyline != null) {
    console.log("polylines!");
    loadTrackPolyline(gpolyline, "#0000FF");
  }          
 
</script>
<% end %>
