<div class="container">
   <div class="row-fluid">    
    <div class="span3">
      <table class="table table-bordered table-striped"> 
        <tr> 
          <td>          
            <%= form_tag("/", method: "get") do %>
              <table>
                <tr>
                  <td> 
                    <img height="25px" width="25px" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">                            
                  </td>
                  <td>
                    <%= label_tag(:q, "Origin:") %> 
                  </td>
                </tr>
              </table>
              <%= text_field_tag(:origin) %>

              <table>
                <tr>
                  <td> 
                    <img height="25px" width="25px" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">                            
                  </td>
                  <td>
                    <%= label_tag(:q, "Destination:") %> 
                  </td>
                </tr>
              </table>
              <%= text_field_tag(:dest) %>
              <%= submit_tag("Search") %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="span9"> 
    <table class="table table-striped"> 
    <tr>
    <td>  
      <div id="map-canvas"/>
    </td>
  </tr>
</table>
    </div>
  </div>
</div>


<script>
var js_track_id = -1;
</script>
<%= track_id_to_js(@tracksegment.id) if @tracksegment %>
<script>
    var map_center = new google.maps.LatLng(48.15, 11.580);
    var map_options = { zoom: 16, center: map_center, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("map-canvas"), map_options);  
    if(js_track_id != -1) {
      loadTrack(js_track_id);
    }
    $(window).resize(function () {
      
      var h = $(window).height(), offsetTop = 100; // Calculate the top offset
      console.log("height: " + h);
      $('#map-canvas').css('height', (h - offsetTop));                  
                
    }).resize()
</script>